$white: #fff;
$black: #000;
$grey: #989898;

$font-size: 16px;

@import "_fonts";

::selection {
  background: rgba($black, .5);
  color: $white;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'PT Sans', sans-serif;
  text-transform: uppercase;
}

h1 {
  font-size: $font-size * 5;
}

.section-1 {
  overflow: hidden;
  position: relative;
  height: 100vh;
  width: 100%;
  background: #000;
  h1 {
    color: $white;
    text-align: center;
    small {
      font-size: $font-size * 2;
      letter-spacing: 10px;
      color: $grey;
    }
  }
  .header-wrapper {
    text-align: center;
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: -120px;
    right: 0;
    z-index: 11;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAIUlEQVQIW2NkQAL///83ZoTxwRxGxrNgARgHxGZE5oAEAOz3DzVasxQ9AAAAAElFTkSuQmCC) repeat,
    radial-gradient(rgba(255,255,255,.3), $black);
    .header-sigara {
      position: absolute;
      bottom: 0;
      right: -480px;
      width: 1246px;
      height: 678px;
      background: url("../img/sigara-grey.png") no-repeat;
    }
    .header-sigara-gauss {
      position: absolute;
      left: 0;
      bottom: 120px;
      width: 100%;
      height: 100%;
      background: url("../img/sigara2.png") no-repeat;
    }
  }
  .bounce {
    position: absolute;
    bottom: 30px;
    left: 50%;
    margin-left: -100px;
    width: 200px;
    height: 50px;
    border: 1px solid $grey;
    z-index: 11;
    color: $grey;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: $font-size + 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .2s;
    &:hover {
      border-color: $white;
      color: $white;
      cursor: pointer;
    }
  }
}
